<p-toast></p-toast>
<div class="admin-page">
  <p-card [header]="editMode ? 'Edition produit': 'Ajout produit'" subheader="Vous pouvez ajouter un nouveau produit">
    <div class="grid mb-5">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
            <div class="p-toolbar-group-right">
              <p-button
                styleClass="p-button-primary mr-2"
                [label]="editMode ? 'Modifier': 'Créer'"
                icon="pi pi-plus"
                (click)="onSubmit()"
              ></p-button>
              <p-button (click)="goBack()"  styleClass="p-button-secondary" label="Annuler" icon="pi pi-arrow-circle-left"></p-button>
            </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="p-fluid p-formgrid grid">
            <div class="p-field col">
              <label for="name">Name</label>
              <input id="name" formControlName="name" type="text" pInputText>
              <small *ngIf="productForm.name.invalid && isSubmitted" class="p-error">Nom invalide</small>
            </div>
            <div class="p-field col">
              <label for="brand">Brand</label>
              <input id="brand" formControlName="brand" type="text" pInputText>
              <small *ngIf="productForm.brand.invalid && isSubmitted" class="p-error">Brand invalide</small>
            </div>
            <div class="p-field col">
             <label for="withoutgrouping">Price</label>
             <p-inputNumber formControlName="price" mode="decimal" inputId="withoutgrouping" [useGrouping]="false">
             </p-inputNumber>
             <small *ngIf="productForm.price.invalid && isSubmitted" class="p-error">Price invalide</small>
            </div>
          </div>
          <div class="p-fluid p-formgrid grid">
            <div class="p-field col-4">
              <label for="category">Category</label>
              <p-dropdown [options]="categories"
               formControlName="category"
               optionValue="id"
               placeholder="Select a Category"
               [filter]="true"
               filterBy="name"
               optionLabel="name" [showClear]="true">
              </p-dropdown>
              <small *ngIf="productForm.category.invalid && isSubmitted" class="p-error">Category invalide</small>
            </div>
            <div class="p-field col-4">
             <label for="withoutgrouping">Count in stock</label>
             <p-inputNumber formControlName="countInStock" mode="decimal" inputId="withoutgrouping" [useGrouping]="false">
             </p-inputNumber>
             <small *ngIf="productForm.price.invalid && isSubmitted" class="p-error">Count invalide</small>
            </div>
            <div class="p-field col-4">
             <label>Featured</label><br>
             <p-inputSwitch formControlName="isFeatured"></p-inputSwitch>
            </div>
            <div class="p-field col-12">
              <label for="description">Description</label>
              <textarea formControlName="description" rows="5" cols="30" pInputTextarea></textarea>
              <small *ngIf="productForm.description.invalid && isSubmitted" class="p-error">Description invalide</small>
            </div>
            <div class="p-field col-12">
              <label for="richDescription"></label>
              <p-editor formControlName="richDescription" [style]="{'height':'320px'}"></p-editor>
            </div>
            <div class="p-field col-12">
              <label for="image">Image</label>
              <input type="file" class="p-inputtext"  accept="image/*" (change)="onImageUpload($event)">
              <small *ngIf="productForm.image.invalid && isSubmitted" class="p-error">Image is required</small>
            </div>
            <div class="col-2 mt-2 pl-0">
              <img style="width: 100%" [src]="imageDisplay" alt="imageDisplay">
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
